{{#each this}}
  <label class='information__label'>vin-код
    <input
      type='text'
      class='form__input'
      name='brand-inf'
      data-action='input-brand'
      value='{{this}}'
      readonly
    /></label>
{{/each}}