{{#each this}}
  <li class='catalog__item--left' data-value='{{groupNumber}}'><img
      src='{{img}}'
      alt='Лого услуги'
      class='catalog__left--img-logo'
    />
    <p class='catalog__text--left'>{{group}}</p>
    <span class='conter-service'></span>
  </li>
{{/each}}